# Capacitor
android/
ios/
.capacitor/

# Node.js
node_modules/
.env
.cache/
dist/
build/
.DS_Store
# macOS temporary files
._*
# Local Netlify folder
.netlify
._*

serviceAccountKey.json
debugPages.js
fixDiagramLessons.js
fixDiagramLessonsCleanup.js
restoreAllBackups.js
restoreLessonFromBackup.js
lms/
pdf/
backups/
my-release-key.keystore